<% provide(:title, "About") %>
<h1>About IATC Ranking App</h1>
<p>This app is designed to make the ranking of Iowa High School Cross Country 
teams easier to compile and share with media outlets.</p>
