<% provide(:title, "Home") %>
<div class="center jumbotron">
    <h1>IATC XC RANKING</h1>
    <h2>Welcome to the IATC XC Ranking site. Rankings application will be coming soon.</h2>
    <%= link_to "Sign in now", "#", class: 'btn btn-primary btn-large' %>
</div>

