<% provide(:title, 'All rankings') %>

<h1>Rankings for the IATC XC Ranking System</h1>
 
<table class="table table-striped">

  <thead>
    <tr>
      <th>Title </th> 
      <th>Gender</th>
      <th>Classification</th>
      <th>Deadline Date</th>
      <th colspan="2">Action</th>
    </tr>

  </thead>
 <tbody>
  <% @rankings.each do |ranking| %>
    <tr>
      <td><%= link_to ranking.rankingTitle, ranking_path(ranking) %></td>
      <td><%= ranking.gender %></td>
      <td><%= ranking.classification %></td>
      <td><%= ranking.deadline %></td>
      <td>
      <% if Time.current.to_date < ranking.deadline %>
        <%= link_to "edit", edit_ranking_path(ranking) %> 
        <%= link_to "delete", ranking_path(ranking), method: :delete, data:{ confirm: 'are you sure you want to delete this ranking?'} %> 
      <% end %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "Add ranking", new_ranking_path, class: "btn btn-primary" %> 
