
<% provide(:title, "Create Ranking") %>
<h1>Create a New Ranking</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3" id="edit_rankings_form">
     <%= form_for @ranking do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

     <%= f.label :rankingTitle , "Ranking Title",class: "col-md-4 control-label"  %>
        </div>
     <div class="col-md-8">
    <%= f.text_field :rankingTitle %>
    </div>
      
    <%= f.label :classification , "Classification",class: "col-md-4 control-label"  %>
    <div class="col-md-8">
    <%= f.select(:classification, options_for_select([['1A', '1A'],['2A', '2A'], ['3A', '3A'], ['4A', '4A']]))%>
     </div>
    <%= f.label :gender, "Gender",class: "col-md-4 control-label"  %> <br>
     <div class="col-md-8">
    <%= f.radio_button :gender, 'Male' %> Male<br />
    <%= f.radio_button :gender, 'Female' %> Female<br />
       </div>
    <%= f.label :deadline , "Deadline",class: "col-md-4 control-label"  %>
     <div class="col-md-8">
    <%= f.date_field :deadline %>
     </div>
    <%= f.label :publishDate , "publish Date",class: "col-md-4 control-label"  %>
    <div class="col-md-8">
    <%= f.date_field :publishDate %>
    </div>
    <%= f.label :voteTotal , "vote Total",class: "col-md-4 control-label" %>
    <div class="col-md-8">
    <%= f.text_field :voteTotal %>
 
      
    <%= f.submit "Create the Ranking", class: "btn btn-primary" %>
      
    <% end %>
  </div>
</div>

