<% provide(:title, 'Rankings Information') %>
<div class="row">
  <div class="col-sm-12"><h3>
      <%= @ranking.rankingTitle %></h3>
      <div>
</div>
<div class="row">
  <div class="col-sm-2 text-right">
    Classification:
  </div>
  <div class="col-sm-10 text-left">
    <%= @ranking.classification %>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 text-right">
   Gender:
  </div>
  <div class="col-sm-10 text-left">
    <%= @ranking.gender %>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 text-right">
    Deadline:
  </div>
  <div class="col-sm-10 text-left">
    <%= @ranking.deadline%>
  </div>
</div>

 <div class="row">
  <div class="col-sm-2 text-right">
    Publish Date:
  </div>
  <div class="col-sm-10 text-left">
    <%= @ranking.publishDate%>
  </div>
  
  <div class="row">
  <div class="col-sm-2 text-right">
    Vote Total:
  </div>
  <div class="col-sm-10 text-left">
    <%= @ranking.voteTotal%>
  </div>
  
  </div>
</div>
