<% provide(:title, "Edit Ranker") %>
<h1>Edit Ranker's Information</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3" id="edit_ranker_form">
    <%= form_for @ranker, :html => {:class => "form-horizontal"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :firstName , "First Name", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= f.text_field :firstName %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :lastName, "Last Name", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= f.text_field :lastName %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= f.email_field :email %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :rankAccess, "Rank Access", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= f.text_field :rankAccess %>
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox col-md-9 col-md-offset-3">
        <%= f.check_box :active %> Active?
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-right">
        <%= link_to "Save", "#", class: "btn btn-default btn-primary", :onclick => "$('#edit_ranker_form form').submit();"  %>
        <%= link_to "Delete", ranker_path(@ranker), method: :delete, data:{ confirm: 'are you sure you want to delete this ranker?'},class: "btn btn-primary" %>
        <%= link_to "Cancel", rankers_url, class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>