<% provide(:title, 'All rankers') %>

<h1>Rankers for the IATC XC Ranking System</h1>
 
<table class="table table-striped">

  <thead>
    <tr>
      <th>First Name </th> 
      <th>Last Name </th>
      <th>Classification</th>
      <th>Active?</th>
      <th colspan="2">Action</th>
    </tr>

  </thead>
 <tbody>
  <% @rankers.each do |ranker| %>
    <tr>
      <td><%= link_to ranker.firstName, ranker_path(ranker) %></td>
      <td><%= link_to ranker.lastName, ranker_path(ranker) %></td>
      <td><%= ranker.rankAccess %></td>
      <td>
        <% if ranker.active.to_i == 1 %>
          <i class="fa fa-check text-success"></i>
        <% else %>
          <i class="fa fa-times text-danger"></i>
        <% end %>
      </td>
      <td><%= link_to "edit", edit_ranker_path(ranker) %> </td>
      <td><%= link_to "delete", ranker_path(ranker), method: :delete, data:{ confirm: 'are you sure you want to delete this ranker?'} %> </td>

    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "Add ranker", new_ranker_path, class: "btn btn-primary" %> 