<% provide(:title, "New Ranker") %>
<h1>Add a new Ranker</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @ranker do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :firstName, "First Name" %>
      <%= f.text_field :firstName %>

      <%= f.label :lastName, "Last Name" %>
      <%= f.text_field :lastName %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.label :rankAccess %>
      <%= f.text_field :rankAccess %>
      
      <%= f.label :active %>
      <%= f.check_box :active  %>
      

      <%= f.submit "Create the Ranker", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>