<% provide(:title, 'Ranker Information') %>
<p><strong>Welcome <%= @ranker.firstName %> <%= @ranker.lastName %></strong></p>
  
<p><strong> Past Rankings</strong></p>
<table class="table table-striped">
<tr>2014</tr> 
<tr>
      <th>Week</th>
      <th>Gender</th> 
      <th>Classification</th>
      <th>Active</th>
</tr>
<tr>
      <td> Week 1</td>
      <td> Girls </td>
        <td> 2A </td>
        <td> <% if @ranker.active == 1  %>
              <i class="fa fa-check text-success"></i> Yes
            <% else %>
              <i class="fa fa-check text-danger"></i> No
            <% end %>
        </td>
    </tr>
   
</table>
  
<p><strong> Current Rankings</strong>  </p>
    
<table class="table table-striped">
 
<tr> 2016</tr> 
<tr>
      <th>Week</th>
      <th>Gender</th> 
      <th>Classification</th>
      <th>Active</th>
</tr>
<tr>
        <td> Week 4</td>
        <td> Boys </td>
        <td> 3A </td>
        <td> <% if @ranker.active == 1  %>
            <%=  "Yes" %>
            <% else %>
            <%=  "No" %>
            <% end %>
        </td>
</tr>
</table>
<h1>Example of sortable items</h1>
<ul id="sortable">
  <li class="ui-state-default">Pella</li>
  <li class="ui-state-default">Knoxville</li>
  <li class="ui-state-default">PCM</li>
  <li class="ui-state-default">Grinnell</li>
  <li class="ui-state-default">DCG</li>
  <li class="ui-state-default">Mount Pleasant</li>
  <li class="ui-state-default">Oskaloosa</li>
</ul>