
<% provide(:title, "Edit School") %>
<h1>Edit an existing school</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @school, :html => {:class => "form-horizontal"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :schoolName , "School Name" %>
      <%= f.text_field :schoolName %>
      
      <%= f.label :displayName , "School Display Name" %>
      <%= f.text_field :displayName %>
       <%= f.label :classification , "Classification" %>
      <%= f.select(:classification, options_for_select([['1A', '1A'],['2A', '2A'], ['3A', '3A'], ['4A', '4A']]))%>
      
      <%= f.label :cooperativeSchool , "Cooperative School" %>
      <%= f.text_field :cooperativeSchool %>
      
      <%= f.label :active %>
      <%= f.check_box :active  %>

      <%= f.submit "update", class: "btn btn-primary" %>
      <%= link_to "delete", school_path(@school), method: :delete, data:{ confirm: 'are you sure you want to delete this school?'}, class: "btn btn-primary" %>
      <%= link_to "Cancel", schools_url, class: "btn btn-primary" %>
      <% end %>
  </div>
</div>