<% provide(:title, 'All schools') %>

<h1>Schools for the IATC XC Ranking System</h1>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <label class="control-label">Filter By: </label>
    <div class="btn-group" role="group">
      <%= link_to "1A", schools_path(:classification=>"1A"), class: classForDisplay("1A") %> 
      <%= link_to "2A", schools_path(:classification=>"2A"), class: classForDisplay("2A") %>
      <%= link_to "3A", schools_path(:classification=>"3A"), class: classForDisplay("3A") %>
      <%= link_to "4A", schools_path(:classification=>"4A"), class: classForDisplay("4A") %>
      <%= link_to "All", schools_url, class: "btn btn-default" %>
    </div>
  </div>
</div>
<% if (params[:classification] == "1A") %>
  <p>1A</p>
<% end %>

<table class="table table-striped">

  <thead>
           
    <tr>
      <th>School Name </th> 
      <th>Display Name </th>
      <th>Classification</th>
      <th>active</th>
      <th colspan="2">Action</th>
    </tr>

  </thead>
 <tbody>
  <% @school.each do |school| %>
    <tr>
      <td><%= link_to school.schoolName, school_path(school) %></td>
      <td><%= school.displayName %></td>
      <td><%= school.classification %></td>
      <td>
        <% if school.active.to_i == 1 %>
        <i class="fa fa-check text-success"></i>
        <% else %>
        <i class="fa fa-times text-danger"></i>
        <% end %>
      </td>
      <td><%= link_to "edit", edit_school_path(school) %> </td>
      <td><%= link_to "delete", school_path(school), method: :delete, data:{ confirm: 'are you sure you want to delete this school?'} %> </td>
  
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Add School", new_school_path, class: "btn btn-primary" %> 



