<% provide(:title, 'School Information') %>
<div class="row">
  <div class="col-sm-12"><h3><%= @school.schoolName %></h3><div>
</div>
<div class="row">
  <div class="col-sm-2 text-right">
    Classification:
  </div>
  <div class="col-sm-10 text-left">
    <%= @school.classification %>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 text-right">
    Display Name:
  </div>
  <div class="col-sm-10 text-left">
    <%= @school.displayName %>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 text-right">
    Cooperative:
  </div>
  <div class="col-sm-10 text-left">
    <%= @school.cooperativeSchool %>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 text-right">
    Active?:
  </div>
  <div class="col-sm-10 text-left">
    <% if @school.active.to_i == 1 %>
      <i class="fa fa-check text-success"></i> Yes
    <% else %>
      <i class="fa fa-times text-danger"></i> No
    <% end %>
  </div>
</div>