    <footer class="footer">
      <small>
        The IATC XC Ranking App<br />
        by WPU Software Engineering Class
      </small>
      <nav>
        <ul>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><a href="http://www.iatfcc.org/">IATFCC.org</a></li>
        </ul>
      </nav>
    </footer>