<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-iatc-app" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Rank XC", root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-iatc-app">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %> <li>
            <li><%= link_to "About",   about_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Rankers", rankers_url %></li>
                <li><%= link_to "Schools", schools_url %></li>
                <li><%= link_to "Rankings", rankings_url %></li>
                <li><%= link_to "Votes", votes_url %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>